extends base

block content 
   
    main.main
        .card-container
            each product in products
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/products/${product.imageCover}`, alt=`${product.name}`)
                        h3.heading-tertirary
                            span= product.name

                    .card__details
                        p.card__text= product.summary
                        
                    .card__footer
                        p
                            span.card__footer-value=`${product.price} RS`
                            | 
                            span.card__footer-text=` per ${product.unit}`
                        p.card__ratings
                            span.card__footer-value=product.ratingsAverage
                            | 
                            span.card__footer-text= `rating (${product.ratingsQuantity})`
                        a.btn.btn--green.btn--small(href=`/product/${product.slug}`) Details