extends base 
include _reviewCard

block append head 
    script(src='https://js.stripe.com/v3/')


block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/products/${product.imageCover}`, alt=`${product.name}`)

        .heading-box
            h1.heading-primary
                span=`${product.name} product`

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    .overview-box__detail
                        svg.overview-box__icon
                            use(xlink:href='/img/icons.svg#icon-star')
                        span.overview-box__label Rating
                        span.overview-box__text=`${product.ratingsAverage} /5`
                    .overview-box__detail
                        svg.overview-box__icon
                            use(xlink:href='/img/icons.svg#icon-star')
                        span.overview-box__label Price
                        span.overview-box__text=`₹ ${product.price}`
                    .overview-box__detail
                        svg.overview-box__icon
                            use(xlink:href='/img/icons.svg#icon-star')
                        span.overview-box__label Quantity
                        span.overview-box__text=` ${product.unit}`



        .description-box
            h2.heading-secondary.ma-bt-lg=` About ${product.name} product `
            - const  paragraphs=product.description.split('\n')
                p.description__text=paragraphs
                p.description__text No pesticides or fertilizers
                p.description__text Healthier soil and better water quality
                p.description__text  Better Nutrition

    section.section-pictures
        each img, i in product.images
            .picture-box
                img.picture-box__img(src=`/img/products/${img}`, alt=`The Park Camper Tour  ${i+1}`,class=`picture-box__img--${i+1}`)

    section.section-reviews
        .reviews
            each review in product.reviews
                +reviewCard(review)
    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/products/${product.images[1]}`, alt='product picture')
            img.cta__img.cta__img--2(src=`/img/products/${product.images[2]}`, alt='product picture')
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text Start buy the products. Experience the nature
                a.btn.btn--green.span-all-rows(href=`/my-review/${product.slug}`) Review this product!

                if user
                    button.btn.btn--green.span-all-rows#book-product(data-product-id=`${product.id}`) Book product now!
                else
                    a.btn.btn--green.span-all-rows(href='/login') Login to book a product
                
               
                
